@use "sass:color";

.single-cube-forge-container {
  .cube-controls {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
  }

  .special-buttons {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
  }
}

@media(max-width: 1020px) {
  .single-cube-forge-container {
    .cube-controls {
      left: 0.7rem;
      gap: 1.6rem;
    }

    .special-buttons {
      right: 0.7rem;
      gap: 1.6rem;
    }
  }
}

@media (max-width: 768px) {
  .single-cube-forge-container {
    .cube-controls {
      left: 0.5rem;
      gap: 1.3rem;
    }

    .special-buttons {
      right: 0.5rem;
      gap: 1.3rem;
    }
  }
}