// Основные стили для canvas контейнера
.cuboverse-container {
  //height: calc(100vh - 225px); // 100% экрана минус место для header/footer
  //width: 100%;
}

@media(max-width: 1020px) {
  //.cuboverse-container {
  //  height: calc(100vh - 218px); // 100% экрана минус место для header/footer
  //}
}

// Мобильная адаптация
@media (max-width: 768px) {
  //.cuboverse-container {
  //  height: calc(100vh - 206px); // 100% экрана минус место для header/footer
  //}
}