// Основные стили для canvas контейнера
.orbitron-container {
  //height: 628px;
  //height: calc(100vh - 225px); // 100% экрана минус место для header/footer
  //width: 100%;
}

@media(max-width: 1020px) {
  .orbitron-container {
    //height: calc(100vh - 218px); // 100% экрана минус место для header/footer
  }
}

// Мобильная адаптация
@media (max-width: 768px) {
  .orbitron-container {
    //height: 68vh; // 68% высоты экрана - оставляет место для header/footer
    //min-height: 300px; // Минимальная высота
    //max-height: 440px; // Максимальная высота

    //height: calc(100vh - 206px); // 100% экрана минус место для header/footer
  }
}