@use "sass:color";

.inner-container {
  .cube-gap {
    label {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 1rem;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 1rem;
      background: linear-gradient(to bottom, rgb(229, 255, 229), rgb(251, 244, 213)) no-repeat center;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
      font-size: 1.8rem;
      font-weight: bold;
      color: darkblue;

      .slider-wrapper {
        display: flex;
        align-items: center;
        gap: 5px;

        .slider-button {
          display: flex;
          flex-direction: column;
          z-index: 2;
          align-items: center;
          justify-content: center;
          background: transparent;
          border: none;
          font-size: 1.6rem;
          cursor: pointer;
        }

        .fa-minus-circle {
          $color: deeppink;
          color: $color;
          transition: color 0.3s;

          &:hover {color: color.adjust($color, $lightness: -15%);}
          &:active {color: color.adjust($color, $lightness: -20%);}
        }

        input[type="range"] {
          width: 120px;
          height: 6px;
          -webkit-appearance: none; // убираем стандартный стиль
          background: transparent; // чтобы фон не мешал
          cursor: pointer;

          // трек (полоска)
          &::-webkit-slider-runnable-track {
            height: 6px;
            background: linear-gradient(to right, #4caf50, #2196f3); // зелёно-синяя
            border-radius: 3px;
          }

          &::-moz-range-track {
            height: 6px;
            background: linear-gradient(to right, #4caf50, #2196f3);
            border-radius: 3px;
          }

          // бегунок (кружок)
          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 16px;
            height: 16px;
            background: #fff;
            border: 2px solid #4caf50;
            border-radius: 50%;
            cursor: pointer;
            margin-top: -5px; // центрируем по полоске
          }

          &::-moz-range-thumb {
            width: 16px;
            height: 16px;
            background: #fff;
            border: 2px solid #4caf50;
            border-radius: 50%;
            cursor: pointer;
          }
        }

        .fa-plus-circle {
          $color: lightseagreen;
          color: $color;
          transition: color 0.3s;

          &:hover {color: color.adjust($color, $lightness: -15%);}
          &:active {color: color.adjust($color, $lightness: -20%);}
        }
      }

      .reset-wrapper {
        display: flex;
        align-items: center;
        gap: 5px;

        .reset {
          $hover-color: red;
          color: blue;
          margin: 0 0.2rem;
          transition: color 0.3s, text-shadow 0.3s;

          &:hover {color: $hover-color; text-shadow: 2px 2px 4px black;}
          &:active {color: color.adjust($hover-color, $lightness: -10%); text-shadow: 2px 2px 4px black;}
        }

        .scale-value {
          background: linear-gradient(to bottom, rgb(229, 255, 229), rgb(250, 247, 234)) no-repeat center;
          padding: 0.2rem 0.5rem;
          font-size: 1.4rem;
          font-weight: bold;
          color: darkblue;
          border: 1px solid rgba(0, 0, 0, 0.3);
          border-radius: 8px;
        }
      }
    }
  }
}

@media(max-width: 1020px) {
  .inner-container {
    .cube-gap {
      label {
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        //opacity: 80%;
        padding: 0.4rem 0.8rem;
        gap: 4px;
        border-radius: 8px;
        font-size: 1.6rem;

        .slider-wrapper {
          gap: 4px;

          .slider-button {font-size: 1.4rem;}

          input[type="range"] {
            width: 90px;
            height: 5px;

            // трек (полоска)
            &::-webkit-slider-runnable-track {
              height: 5px;
              border-radius: 3px;
            }

            &::-moz-range-track {
              height: 5px;
              border-radius: 3px;
            }

            // бегунок (кружок)
            &::-webkit-slider-thumb {
              width: 14px;
              height: 14px;
              border: 2px solid #4caf50;
              margin-top: -5px; // центрируем по полоске
            }

            &::-moz-range-thumb {
              width: 16px;
              height: 16px;
              border: 2px solid #4caf50;
            }
          }
        }

        .reset-wrapper {
          gap: 4px;

          .reset {margin: 0 0.2rem;}

          .scale-value {
            padding: 0.2rem 0.4rem;
            font-size: 1.4rem;
            font-weight: bold;
            border-radius: 6px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .inner-container {
    .cube-gap {
      label {
        left: 0.5rem;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        background: none;
        box-shadow: none;
        border: none;
        font-weight: normal;
        color: black;
        padding: 0;
        gap: 3px;
        font-size: 1.4rem;

        .slider-wrapper {
          gap: 10px;

          .slider-button {
            font-size: 1.8rem;
            text-shadow: 0 3px 3px rgba(0, 0, 0, 0.9);
          }
          input {display: none;}
        }

        .reset-wrapper {
          display: flex;
          flex-direction: column;
          margin-top: 0.5rem;
          gap: 7px;

          .reset {
            font-size: 1.6rem;
            margin: 0;
          }

          .scale-value {
            padding: 0.2rem 0.4rem;
            font-size: 1.2rem;
            font-weight: normal;
            color: black;
            //background: white;
            background-image: url("@/assets/background/background08.webp");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border: 1px solid rgba(0, 0, 0, 1.0);
            border-radius: 4px;
          }
        }
      }
    }
  }
}