@use "sass:color";

.cube3x-inner-container {
  .cube-controls {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    justify-content: center;
    align-items: center;
  }
}

@media(max-width: 1020px) {
  .cube3x-inner-container {
    .cube-controls {left: 1rem;}
  }
}

@media (max-width: 768px) {
  .cube3x-inner-container {
    .cube-controls {left: 0.5rem;}
  }
}