@use "sass:color";

.cube3x-inner-container {
  .cube-controls {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    justify-content: center;
    //align-items: center;
    align-items: flex-start;
  }

  .rotation-buttons {
    position: absolute;
    bottom: 90px; // Перемещаем вниз
    left: 50%; // Центрируем
    transform: translateX(-50%); // Смещаем на половину ширины
    z-index: 10;
    display: flex;
    flex-direction: row; // Горизонтальное расположение
    gap: 20px; // Отступ между кнопками

    button {
      color: white;
      text-shadow: 0 2px 4px black;
      background-color: #87ceeb;
      height: 3rem;
      width: 4rem;
      font-size: 1.8rem;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
      transition:  background-color .2s ease-in-out, box-shadow .2s ease-in-out;

      &:hover {
        background-color: #00bfff; /* Более яркий цвет при наведении */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

@media(max-width: 1020px) {
  .cube3x-inner-container {
    .cube-controls {left: 0.7rem;}

    .rotation-buttons {
      bottom: 85px; // Перемещаем вниз
      gap: 15px; // Отступ между кнопками

      button {
        height: 2.6rem;
        width: 3.6rem;
        font-size: 1.4rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .cube3x-inner-container {
    .cube-controls {left: 0.5rem; top: 53%;}

    .rotation-buttons {
      bottom: 50px; // Перемещаем вниз
      gap: 12px; // Отступ между кнопками

      button {
        height: 2.4rem;
        width: 3.4rem;
        font-size: 1.2rem;
      }
    }
  }
}