@use "sass:color";

.cube2x-inner-container {

  .cube-controls {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    justify-content: center;
    //align-items: center;
    align-items: flex-start;
  }
}

@media(max-width: 1020px) {
  .cube2x-inner-container {
    .cube-controls {left: 0.7rem;}
  }
}

@media (max-width: 768px) {
  .cube2x-inner-container {
    .cube-controls {left: 0.5rem; top: 53%;}
  }
}