@use "sass:color";

.cube2x-inner-container {
  .cube-gap {
    .label-all {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 1rem;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      justify-content: center;
      align-items: center;

      &.open {
        padding: 0.5rem;
        background: linear-gradient(to bottom, rgb(229, 251, 255), rgb(255, 240, 244)) no-repeat center;
        border: 1px solid lightskyblue;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
      }

      &.closed {
        border: none;
        padding: 0;
        margin: 0;
        box-shadow: none;
      }

      .gap-label {
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: bold;
        transition: color 0.3s, text-shadow 0.3s, background 0.3s;

        &.open {
          font-size: 1.8rem;
          color: darkblue;
        }

        &.closed {
          text-decoration: none;
          color: white;
          text-shadow: 2px 2px 4px black;
          display: flex;
          width: max-content;
          border: 1px solid darkgreen;
          padding: 0.5rem 1rem;
          margin: 0.3rem auto;
          border-radius: 5px;
          background-image: url("@/assets/app/VortexCube/cube3/cube3-17.webp");
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;

          &:hover {
            background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(152, 152, 255));
            color: darkblue;
            box-shadow: none;
            text-shadow: none;
            border: 1px solid darkslateblue;
          }
        }
      }

      .gap-controls {

        .slider-wrapper {
          display: flex;
          align-items: center;
          gap: 5px;
          margin: 0.6rem 0;

          .slider-button {
            display: flex;
            flex-direction: column;
            z-index: 2;
            align-items: center;
            justify-content: center;
            background: transparent;
            border: none;
            font-size: 1.6rem;
            cursor: pointer;
          }

          .fa-minus-circle {
            $color: deeppink;
            color: $color;
            transition: color 0.3s;

            &:hover {color: color.adjust($color, $lightness: -15%);}
            &:active {color: color.adjust($color, $lightness: -20%);}
          }

          input[type="range"] {
            width: 120px;
            height: 6px;
            -webkit-appearance: none; // убираем стандартный стиль
            background: transparent; // чтобы фон не мешал
            cursor: pointer;

            // трек (полоска)
            &::-webkit-slider-runnable-track {
              height: 6px;
              background: linear-gradient(to right, #4caf50, #2196f3); // зелёно-синяя
              border-radius: 3px;
            }

            &::-moz-range-track {
              height: 6px;
              background: linear-gradient(to right, #4caf50, #2196f3);
              border-radius: 3px;
            }

            // бегунок (кружок)
            &::-webkit-slider-thumb {
              -webkit-appearance: none;
              width: 16px;
              height: 16px;
              background: #fff;
              border: 2px solid #4caf50;
              border-radius: 50%;
              cursor: pointer;
              margin-top: -5px; // центрируем по полоске
            }

            &::-moz-range-thumb {
              width: 16px;
              height: 16px;
              background: #fff;
              border: 2px solid #4caf50;
              border-radius: 50%;
              cursor: pointer;
            }
          }

          .fa-plus-circle {
            $color: lightseagreen;
            color: $color;
            transition: color 0.3s;

            &:hover {color: color.adjust($color, $lightness: -15%);}
            &:active {color: color.adjust($color, $lightness: -20%);}
          }
        }

        .reset-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;

          .reset {
            $hover-color: red;
            color: blue;
            background: transparent;
            border: none;
            font-size: 1.8rem;
            margin: 0 0.2rem;
            cursor: pointer;
            transition: color 0.3s, text-shadow 0.3s;

            &:hover {color: $hover-color; text-shadow: 2px 2px 4px black;}
            &:active {color: color.adjust($hover-color, $lightness: -10%); text-shadow: 2px 2px 4px black;}
          }

          .scale-value {
            background-image: url("@/assets/background/background09.webp");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            padding: 0.2rem 0.5rem;
            font-size: 1.4rem;
            font-weight: bold;
            color: white;
            text-shadow: 2px 2px 4px darkblue;
            border: 1px solid lightskyblue;
            border-radius: 8px;
          }
        }
      }
    }
  }
}

@media(max-width: 1020px) {
  .cube2x-inner-container {
    .cube-gap {
      .label-all {
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;

        &.open {
          padding: 0.4rem;
          border-radius: 8px;
        }

        &.closed {
          border: none;
          padding: 0;
          margin: 0;
          box-shadow: none;
        }

        .gap-label {
          font-size: 1.4rem;

          &.open {
            font-size: 1.6rem;
          }

          &.closed {
            padding: 0.4rem 0.8rem;
            margin: 0.3rem auto;
            border-radius: 5px;

            &:hover {
              box-shadow: none;
              text-shadow: none;
            }
          }
        }

        .gap-controls {
          .slider-wrapper {
            margin: 0.5rem 0;
            gap: 4px;

            .slider-button {font-size: 1.6rem;}

            input[type="range"] {
              width: 90px;
              height: 5px;

              // трек (полоска)
              &::-webkit-slider-runnable-track {
                height: 5px;
                border-radius: 3px;
              }

              &::-moz-range-track {
                height: 5px;
                border-radius: 3px;
              }

              // бегунок (кружок)
              &::-webkit-slider-thumb {
                width: 14px;
                height: 14px;
                border: 2px solid #4caf50;
                margin-top: -5px; // центрируем по полоске
              }

              &::-moz-range-thumb {
                width: 16px;
                height: 16px;
                border: 2px solid #4caf50;
              }
            }
          }

          .reset-wrapper {
            gap: 4px;

            .reset {
              font-size: 1.6rem;
              margin: 0 0.2rem;
            }

            .scale-value {
              padding: 0.2rem 0.4rem;
              font-size: 1.4rem;
              font-weight: bold;
              border-radius: 6px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .cube2x-inner-container {
    .cube-gap {
      .label-all {
        left: 0.5rem;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;

        &.open {
          padding: 0.4rem;
          border-radius: 8px;
        }

        &.closed {
          border: none;
          padding: 0;
          margin: 0;
          box-shadow: none;
        }

        .gap-label {
          &.open {font-size: 1.4rem;}

          &.closed {
            font-size: 1.4rem;
            padding: 0.3rem 0.6rem;
            border-radius: 5px;

            &:hover {
              box-shadow: none;
              text-shadow: none;
            }
          }
        }

        .gap-controls {
          .slider-wrapper {
            gap: 10px;
            margin: 0.2rem 0 0.5rem;

            .slider-button {
              font-size: 1.8rem;
              text-shadow: 0 3px 3px rgba(0, 0, 0, 0.9);
            }
            input {display: none;}
          }

          .reset-wrapper {
            display: flex;
            flex-direction: column;
            margin-top: 0.5rem;
            gap: 7px;

            .reset {
              font-size: 1.7rem;
              margin: 0;
            }

            .scale-value {
              padding: 0.2rem 0.4rem;
              margin-bottom: 0.1rem;
              font-size: 1.2rem;
              //font-weight: normal;
              color: white;
              text-shadow: 2px 2px 4px darkblue;
              background-image: url("@/assets/background/background09.webp");
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
              border: 1px solid lightskyblue;
              border-radius: 4px;
            }
          }
        }
      }
    }
  }
}