@use "sass:color";

.control-block {

  .label-all {

    &.open {
      padding: 0.5rem;
      //background: linear-gradient(to bottom, rgb(229, 251, 255), rgb(255, 240, 244)) no-repeat center;
      //background-color: lightgoldenrodyellow;
      //background-image: url("@/assets/app/VortexCube/cube2/cube2-08.webp");
      background-image: url("@/assets/background/background06.webp");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      //border: 1px solid lightskyblue;
      border: 1px solid lightslategray;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    }

    &.closed {
      border: none;
      padding: 0;
      margin: 0;
      box-shadow: none;
    }

    .control-label {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      font-size: 1.5rem;
      transition: color 0.3s, text-shadow 0.3s, background 0.3s;

      &.open {
        font-size: 1.6rem;
        color: darkblue;
      }

      &.closed {
        text-decoration: none;
        color: white;
        text-shadow: 2px 2px 4px black;
        display: flex;
        width: max-content;
        border: 1px solid darkgreen;
        padding: 0.5rem 1rem;
        align-self: flex-start;
        border-radius: 5px;
        background-color: seagreen;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
        transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, border 0.2s ease-in-out, transform 0.2s ease-in-out;
        //background-image: url("@/assets/app/VortexCube/cube3/cube3-17.webp");
        //background-position: center;
        //background-size: cover;
        //background-repeat: no-repeat;

        &:hover {
          background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(152, 152, 255));
          color: darkblue;
          box-shadow: none;
          text-shadow: none;
          border: 1px solid darkslateblue;
        }
      }

      // В закрытом состоянии: иконка + текст
      &.closed {
        .label-text {display: inline;}
        .label-icon {display: inline;}
      }

      // В открытом состоянии: иконка + текст
      &.open {
        .label-text {display: inline;}
        .label-icon {display: inline;}
      }
    }

    .controls-wrapper {
      margin-top: 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      .gap-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .gap-control {
          display: flex;
          align-items: center;
          gap: 5px;
          margin: 0.6rem 0;
        }
        .reset-wrapper {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 5px;

          .gap-value {
            background-image: url("@/assets/background/background09.webp");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            padding: 0.2rem 0.5rem;
            font-size: 1.4rem;
            font-weight: bold;
            color: white;
            text-shadow: 2px 2px 4px darkblue;
            border: 1px solid lightskyblue;
            border-radius: 8px;
          }
        }
      }
    }
  }
}

@media(max-width: 1020px) {
  .control-block {

    .label-all {

      &.open {
        padding: 0.4rem;
        border-radius: 5px;
      }

      &.closed {
        border: none;
        padding: 0;
        margin: 0;
        box-shadow: none;
      }


      .control-label {
        font-size: 1.4rem;

        &.open {
          font-size: 1.4rem;
        }
        &.closed {
          padding: 0.4rem 0.8rem;
          border-radius: 5px;

          &:hover {
            box-shadow: none;
            text-shadow: none;
          }
        }
        // В закрытом состоянии: иконка + текст
        &.closed {
          .label-text {display: inline;}
          .label-icon {display: inline;}
        }

        // В открытом состоянии: иконка + текст
        &.open {
          .label-text {display: inline;}
          .label-icon {display: inline;}
        }
      }

      .controls-wrapper {
        margin-top: 0.5rem;
        gap: 0.25rem;

        .gap-block {
          .gap-control {
            margin: 0.5rem 0;
            gap: 4px;
          }
          .reset-wrapper {
            gap: 4px;

            .gap-value {
              padding: 0.2rem 0.4rem;
              font-size: 1.4rem;
              font-weight: bold;
              border-radius: 6px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .control-block {

    .label-all {

      &.open {
        padding: 0.4rem;
        border-radius: 5px;
      }

      &.closed {
        border: none;
        padding: 0;
        margin: 0;
        box-shadow: none;
      }

      .control-label {
        font-size: 1.4rem;

        &.closed {
          //padding: 0.4rem 0.8rem;
          height: 2.6rem;
          width: 2.6rem;
          font-size: 1.4rem;
          border-radius: 5px;
          //box-shadow: none;

          &:hover {
            box-shadow: none;
            text-shadow: none;
          }
        }
        // В закрытом состоянии: только иконка
        &.closed {
          .label-text {display: none;}
          .label-icon {display: inline;}
        }

        // В открытом состоянии: только текст
        &.open {
          .label-text {display: inline;}
          .label-icon {display: none;}
        }
      }

      .controls-wrapper {

        .gap-block {
          .gap-control {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 0.5rem 0;
            gap: 7px;
          }
          .reset-wrapper {
            display: flex;
            flex-direction: column;
            margin-top: 0.5rem;
            gap: 7px;

            .gap-value {
              padding: 0.2rem 0.4rem;
              margin-bottom: 0.1rem;
              font-size: 1.2rem;
              //font-weight: normal;
              color: white;
              text-shadow: 2px 2px 4px darkblue;
              background-image: url("@/assets/background/background09.webp");
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
              border: 1px solid lightskyblue;
              border-radius: 4px;
            }
          }
        }
      }
    }
  }
}