@use "sass:color";

.picto-cube2x-container {
  .cube-controls {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    justify-content: center;
    align-items: center;
  }

  .rotation-buttons {
    position: absolute;
    bottom: 90px; // Перемещаем вниз
    left: 50%; // Центрируем
    transform: translateX(-50%); // Смещаем на половину ширины
    z-index: 10;
    display: flex;
    flex-direction: row; // Горизонтальное расположение
    gap: 20px; // Отступ между кнопками

    button {
      color: white;
      text-shadow: 0 2px 4px black;
      background-color: #87ceeb;
      height: 3rem;
      width: 4rem;
      font-size: 1.8rem;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
      transition:  background-color .2s ease-in-out, box-shadow .2s ease-in-out;

      &:hover {
        background-color: #00bfff; /* Более яркий цвет при наведении */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .special-buttons {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.5rem;

    .clear-buttons {
      position: relative;
      // Главная кнопка
      .main-clear-button {
        background: lightcoral;
        color: white;
        text-shadow: 0 2px 4px black;
        height: 3rem;
        width: 3rem;
        font-size: 1.8rem;
        border: 1px solid transparent;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
        transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, border 0.3s ease-in-out, transform 0.2s ease-in-out;
        cursor: pointer;
        z-index: 12;
        position: relative;

        &:hover {
          &:hover {
            background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(152, 152, 255));
            color: darkblue;
            box-shadow: none;
            text-shadow: 0 2px 4px white;
            border: 1px solid darkslateblue;
          }
        }
        &.open {
          background-color: #ecaaaa;
          border: 1px solid transparent;
        }
      }

      // Подменю с кнопками
      .clear-submenu {
        display: flex;
        flex-direction: row; /* Меню горизонтальное */
        position: absolute;
        right: 100%; /* Меню появляется слева от кнопки */
        top: 0;
        opacity: 0;
        transform: translateX(40px); // Начинаем справа за экраном
        transition: opacity 0.3s ease, transform 0.3s ease;

        &.open {
          opacity: 1;
          transform: translateX(0); // Выезжаем в нормальную позицию
        }

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          margin-right: 0.8rem; /* Расстояние между кнопками */
          background-color: #f3dada;
          height: 3rem;
          width: 3rem;
          font-size: 1.8rem;
          border: 1px solid #ecaaaa;
          border-radius: 5px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
          transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border 0.3s ease-in-out, transform 0.3s ease-in-out;
          cursor: pointer;

          &:hover {
            background: floralwhite;
            border: 1px solid lightcoral;
            box-shadow: none;
          }

          .fas {
            font-size: 1.8rem;
            color: white;
            text-shadow: 0 2px 4px black;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        // Анимация появления кнопок с задержкой
        button:nth-child(1) {transition-delay: 0.05s;}
        button:nth-child(2) {transition-delay: 0.1s;}
      }
    }

    .shuffle-buttons {
      position: relative;
      // Главная кнопка
      .main-shuffle-button {
        background: dodgerblue;
        color: white;
        text-shadow: 0 2px 4px black;
        height: 3rem;
        width: 3rem;
        font-size: 1.8rem;
        border: 1px solid transparent;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
        transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, border 0.3s ease-in-out, transform 0.2s ease-in-out;
        cursor: pointer;
        z-index: 12;
        position: relative;

        &:hover {
          &:hover {
            background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(152, 152, 255));
            color: darkblue;
            box-shadow: none;
            text-shadow: 0 2px 4px white;
            border: 1px solid darkslateblue;
          }
        }
        &.open {
          background-color: #5ba8d1;
          border: 1px solid transparent;
        }
      }

      // Подменю с кнопками
      .shuffle-submenu {
        display: flex;
        flex-direction: row; /* Меню горизонтальное */
        position: absolute;
        right: 100%; /* Меню появляется слева от кнопки */
        top: 0;
        opacity: 0;
        transform: translateX(40px); // Начинаем справа за экраном
        transition: opacity 0.3s ease, transform 0.3s ease;

        &.open {
          opacity: 1;
          transform: translateX(0); // Выезжаем в нормальную позицию
        }

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          margin-right: 0.8rem; /* Расстояние между кнопками */
          background-color: #c2f2fa;
          height: 3rem;
          width: 3rem;
          font-size: 1.8rem;
          border: 1px solid #92cae8;
          border-radius: 5px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
          transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border 0.3s ease-in-out, transform 0.3s ease-in-out;
          cursor: pointer;

          &:hover {
            background: floralwhite;
            border: 1px solid #5ba8d1;
            box-shadow: none;
          }

          .fas {
            font-size: 1.8rem;
            color: white;
            text-shadow: 0 2px 4px black;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        // Анимация появления кнопок с задержкой
        button:nth-child(1) {transition-delay: 0.05s;}
        button:nth-child(2) {transition-delay: 0.1s;}
      }
    }

  }
}

@media(max-width: 1020px) {
  .picto-cube2x-container {
    .cube-controls {left: 0.7rem;}

    .rotation-buttons {
      bottom: 85px; // Перемещаем вниз
      gap: 15px; // Отступ между кнопками

      button {
        height: 2.6rem;
        width: 3.6rem;
        font-size: 1.4rem;
      }
    }

    .special-buttons {
      right: 20px;
      gap: 1.3rem;

      .clear-buttons {
        .main-clear-button {
          height: 2.6rem;
          width: 2.6rem;
          font-size: 1.4rem;
          border-radius: 5px;
        }
        .clear-submenu {
          button {
            margin-right: 0.8rem; /* Расстояние между кнопками */
            height: 2.6rem;
            width: 2.6rem;
            font-size: 1.4rem;
            border-radius: 5px;

            .fas {font-size: 1.4rem;}
          }
        }
      }

      .shuffle-buttons {
        .main-shuffle-button {
          height: 2.6rem;
          width: 2.6rem;
          font-size: 1.4rem;
          border-radius: 5px;
        }
        .shuffle-submenu {
          button {
            margin-right: 0.8rem; /* Расстояние между кнопками */
            height: 2.6rem;
            width: 2.6rem;
            font-size: 1.4rem;
            border-radius: 5px;

            .fas {font-size: 1.4rem;}
          }
        }
      }

    }
  }
}

@media (max-width: 768px) {
  .picto-cube2x-container {
    .cube-controls {left: 0.5rem; top: 53%;}

    .rotation-buttons {
      bottom: 50px; // Перемещаем вниз
      gap: 12px; // Отступ между кнопками

      button {
        height: 2.4rem;
        width: 3.4rem;
        font-size: 1.2rem;
      }
    }

    .special-buttons {
      right: 10px;
      gap: 1.1rem;

      .clear-buttons {
        .main-clear-button {
          height: 2.4rem;
          width: 2.4rem;
          font-size: 1.2rem;
          border-radius: 4px;
          box-shadow: none;
        }

        .clear-submenu {
          button {
            margin-right: 0.5rem; /* Расстояние между кнопками */
            height: 2.4rem;
            width: 2.4rem;
            font-size: 1.2rem;
            border-radius: 4px;
            box-shadow: none;

            &:hover {box-shadow: none;}

            .fas {font-size: 1.2rem;}
          }
        }
      }

      .shuffle-buttons {
        .main-shuffle-button {
          height: 2.4rem;
          width: 2.4rem;
          font-size: 1.2rem;
          border-radius: 4px;
          box-shadow: none;
        }

        .shuffle-submenu {
          button {
            margin-right: 0.5rem; /* Расстояние между кнопками */
            height: 2.4rem;
            width: 2.4rem;
            font-size: 1.2rem;
            border-radius: 4px;
            box-shadow: none;

            &:hover {box-shadow: none;}

            .fas {font-size: 1.2rem;}
          }
        }
      }

    }
  }
}