@use "sass:color";

.picto-cube2x-container {
  .cube-controls {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    justify-content: center;
    //align-items: center;
    align-items: flex-start;
  }

  .rotation-buttons {
    position: absolute;
    bottom: 90px; // Перемещаем вниз
    left: 50%; // Центрируем
    transform: translateX(-50%); // Смещаем на половину ширины
    z-index: 10;
    display: flex;
    flex-direction: row; // Горизонтальное расположение
    gap: 20px; // Отступ между кнопками

    button {
      color: white;
      text-shadow: 0 2px 4px black;
      background-color: #87ceeb;
      height: 3rem;
      width: 4rem;
      font-size: 1.8rem;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
      transition:  background-color .2s ease-in-out, box-shadow .2s ease-in-out;

      &:hover {
        background-color: #00bfff; /* Более яркий цвет при наведении */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .special-buttons {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.5rem;

    .clear-buttons {
      position: relative;

      // Главная кнопка
      .main-clear-button {
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: max-content;
        background-color: #ffea00;
        color: white;
        padding: 0.5rem 1rem;
        margin: 0.3rem auto;
        height: 3rem;
        font-size: 1.6rem;
        text-shadow: 2px 2px 4px black;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
        transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, border 0.2s ease-in-out, transform 0.2s ease-in-out;
        cursor: pointer;
        z-index: 12;
        gap: 0.3rem;

        &:hover {box-shadow: none;}
        &.open {color: white;background-color: darkgreen;}

        .main-clear-icon {
          display: inline;
          //color: deeppink;
        }
        .main-clear-text {display: inline;}
      }

      // Подменю с кнопками
      .clear-submenu {
        display: flex;
        flex-direction: row; /* Меню горизонтальное */
        position: absolute;
        right: 100%; /* Меню появляется слева от кнопки */
        top: 50%; // Центр по вертикали
        transform: translateY(-50%) translateX(40px); // Центрирование + исходное смещение
        opacity: 0;
        transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
        visibility: hidden;
        pointer-events: none; // Нельзя кликать, пока меню скрыто

        &.open {
          opacity: 1;
          visibility: visible;
          pointer-events: auto; // Включаем клики, когда меню открыто
          transform: translateY(-50%) translateX(0); // Центрирование + финальная позиция
        }

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          color: black;
          margin-right: 0.8rem; /* Расстояние между кнопками */
          background-color: lightgoldenrodyellow;
          height: 3rem;
          width: 3rem;
          border: 2px solid transparent;
          border-radius: 5px;
          text-shadow: none;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
          transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, border 0.2s ease-in-out, transform 0.2s ease-in-out;
          cursor: pointer;

          &:hover {
            color: deeppink;
            background-color: #ffffff;
            border: 2px solid deeppink;
            box-shadow: none;
          }

          .fas {
            font-size: 1.6rem;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        // Анимация появления кнопок с задержкой
        button:nth-child(1) {transition-delay: 0.05s;}
        button:nth-child(2) {transition-delay: 0.1s;}
      }
    }

    .shuffle-buttons {
      position: relative;
      // Главная кнопка
      .main-shuffle-button {
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: max-content;
        background: mediumvioletred;
        color: white;
        padding: 0.5rem 1rem;
        margin: 0.3rem auto;
        height: 3rem;
        font-size: 1.6rem;
        text-shadow: 2px 2px 4px black;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
        transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, border 0.2s ease-in-out, transform 0.2s ease-in-out;
        cursor: pointer;
        z-index: 12;
        gap: 0.3rem;

        &:hover {box-shadow: none;}
        &.open {color: white;background-color: darkgreen;}

        .main-shuffle-icon {display: inline;}
        .main-shuffle-text {display: inline;}
      }

      // Подменю с кнопками
      .shuffle-submenu {
        display: flex;
        flex-direction: row; /* Меню горизонтальное */
        position: absolute;
        right: 100%; /* Меню появляется слева от кнопки */
        top: 50%; // Центр по вертикали
        transform: translateY(-50%) translateX(40px); // Центрирование + исходное смещение
        opacity: 0;
        transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
        //transition: opacity 0.3s ease-out, transform 0.35s cubic-bezier(0.22, 1, 0.36, 1), visibility 0.3s ease-out;
        visibility: hidden;
        pointer-events: none; // Нельзя кликать, пока меню скрыто

        &.open {
          opacity: 1;
          visibility: visible;
          pointer-events: auto; // Включаем клики, когда меню открыто
          transform: translateY(-50%) translateX(0); // Центрирование + финальная позиция
        }

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          color: black;
          margin-right: 0.8rem; /* Расстояние между кнопками */
          background-color: lightgoldenrodyellow;
          height: 3rem;
          width: 3rem;
          border: 2px solid transparent;
          border-radius: 5px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
          transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, border 0.2s ease-in-out, transform 0.2s ease-in-out;
          cursor: pointer;

          &:hover {
            background: #ffffff;
            color: purple;
            border: 2px solid purple;
            box-shadow: none;
            text-shadow: none;
          }

          .fa-undo {
            color: black;
            text-shadow: none;
            transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
            &:hover {color: purple;}
          }

          .fas {
            font-size: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        // Анимация появления кнопок с задержкой
        button:nth-child(1) {transition-delay: 0.05s;}
        button:nth-child(2) {transition-delay: 0.1s;}
      }
    }

  }
}

@media(max-width: 1020px) {
  .picto-cube2x-container {
    .cube-controls {left: 0.7rem;}

    .rotation-buttons {
      bottom: 85px; // Перемещаем вниз
      gap: 15px; // Отступ между кнопками

      button {
        height: 2.6rem;
        width: 3.6rem;
        font-size: 1.4rem;
      }
    }

    .special-buttons {
      right: 20px;
      gap: 1.3rem;

      .clear-buttons {
        .main-clear-button {
          padding: 0.4rem 0.8rem;
          margin: 0.3rem auto;
          height: 2.6rem;
          font-size: 1.4rem;
          border-radius: 5px;
          gap: 0.2rem;

          .main-clear-icon {display: inline;}
          .main-clear-text {display: inline;}
        }
        .clear-submenu {
          button {
            margin-right: 0.8rem; /* Расстояние между кнопками */
            height: 2.6rem;
            width: 2.6rem;
            font-size: 1.4rem;
            border-radius: 5px;

            .fas {font-size: 1.4rem;}
          }
        }
      }

      .shuffle-buttons {
        .main-shuffle-button {
          padding: 0.4rem 0.8rem;
          margin: 0.3rem auto;
          height: 2.6rem;
          font-size: 1.4rem;
          border-radius: 5px;
          gap: 0.2rem;

          .main-shuffle-icon {display: inline;}
          .main-shuffle-text {display: inline;}
        }
        .shuffle-submenu {
          button {
            margin-right: 0.8rem; /* Расстояние между кнопками */
            height: 2.6rem;
            width: 2.6rem;
            font-size: 1.4rem;
            border-radius: 5px;

            .fas {font-size: 1.4rem;}
          }
        }
      }

    }
  }
}

@media (max-width: 768px) {
  .picto-cube2x-container {
    .cube-controls {left: 0.5rem; top: 53%;}

    .rotation-buttons {
      bottom: 50px; // Перемещаем вниз
      gap: 12px; // Отступ между кнопками

      button {
        height: 2.4rem;
        width: 3.4rem;
        font-size: 1.2rem;
      }
    }

    .special-buttons {
      right: 10px;
      gap: 1.1rem;

      .clear-buttons {
        .main-clear-button {
          height: 2.4rem;
          width: 2.4rem;
          font-size: 1.2rem;
          border: 1px solid black;
          border-radius: 4px;
          box-shadow: none;

          &.open {
            border: none;
            .main-clear-icon {color: white;}
          }

          .main-clear-icon {
            display: inline;
            text-shadow: none;
            color: black;
          }
          .main-clear-text {display: none;}
        }

        .clear-submenu {
          button {
            margin-right: 0.5rem; /* Расстояние между кнопками */
            height: 2.4rem;
            width: 2.4rem;
            font-size: 1.2rem;
            border-radius: 4px;
            border: 1px solid black;
            box-shadow: none;

            &:hover {box-shadow: none; border: 1px solid deeppink;}

            .fas {font-size: 1.2rem;}
          }
        }
      }

      .shuffle-buttons {
        .main-shuffle-button {
          height: 2.4rem;
          width: 2.4rem;
          font-size: 1.2rem;
          border-radius: 4px;
          box-shadow: none;

          .main-shuffle-icon {display: inline;}
          .main-shuffle-text {display: none;}
        }

        .shuffle-submenu {
          button {
            margin-right: 0.5rem; /* Расстояние между кнопками */
            height: 2.4rem;
            width: 2.4rem;
            font-size: 1.2rem;
            border-radius: 4px;
            border: 1px solid black;
            box-shadow: none;

            &:hover {box-shadow: none; border: 1px solid purple;}

            .fas {font-size: 1.2rem;}
          }
        }
      }

    }
  }
}