.project5 {
  flex: 1 0 auto;
  background: linear-gradient(to bottom, rgb(244, 229, 250), rgb(255, 252, 229)) no-repeat center;

  .container {
    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      font-size: 2.5rem;
      margin: 0.7rem auto;
      color: black;

      .mode-switch {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0 0.3rem 0 0.7rem;
        gap: 0.7rem;

        button {
          padding: 0.5rem 1rem;
          color: white;
          text-shadow: 2px 2px 4px black;
          background-image: url("@/assets/app/VortexCube/cube3/cube3-04.webp");
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          border: 1px solid grey;
          border-radius: 5px;
          cursor: pointer;
          font-size: 1.5rem;
          font-weight: bold;
          transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

          &:hover {
            box-shadow: 2px 2px 4px black;
            border: 1px solid lightslategrey;
          }
        }
      }
    }
  }
}

@media(max-width: 1020px) {
  .project5 {
    .container {
      h1 {
        font-size: 2.3rem;
        margin: 0.6rem auto;

        .mode-switch {
          margin: 0 0.2rem 0 0.5rem;
          gap: 0.5rem;

          button {
            padding: 0.4rem 0.8rem;
            border-radius: 5px;
            font-size: 1.2rem;
            font-weight: bold;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .project5 {
    .container {
      h1 {
        font-size: 2rem;
        margin: 0.5rem auto;

        .mode-switch {
          margin: 0 0.1rem 0 0.4rem;
          gap: 0.3rem;

          button {
            padding: 0.4rem 0.4rem;
            border-radius: 4px;
            font-size: 1rem;
            font-weight: normal;
          }
        }
      }
    }
  }
}